.menu-container{
    position: relative;
    float: left;
    width: 170px;
    border-right: 1px solid #d6d9dc;
    min-height: 92.5vh;
    max-height: 92vh;
    margin-left: 50px;
}

.navLinks{
    padding: 0;
    margin: 0;
    list-style: none;
}

.navLinks li a{
    display: flex;
    padding: 3px 6px 3px 8px;
    color: #535a60;
    line-height: 1.8;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.navLinks li a:hover{
    font-weight: bold;
    color: #0C0D0E;
}

.navHere{
    font-weight: bold;
    color: #0C0D0E;
    background: rgba(12, 13, 14, 0.05);
    border-right: 3px solid orangered;
}