.header {
    overflow: hidden;
    background-color: #fafafb !important;
    color: black;
    padding: .5rem 1rem;
    position: absolute;
    top: 0; 
    width: 83.5rem;
    display: flex;
    z-index:10;
    display: flex;
    box-shadow: 0 8px 6px -6px #808B96;
    border-top: 2px solid orangered;
  }
.header-brand{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: .25rem;
    padding-bottom: .3rem;
    margin-right: 1rem;
    padding-left:2%; 
    font-size:20px;
    text-decoration: none;
}
.fa{
    color: grey;
    padding-top: .40rem;
}